MYSQL_DATABASE=starticket
MYSQL_USER=starticket
MYSQL_PASSWORD=starticket_dev
MYSQL_ROOT_PASSWORD=root_dev
RABBITMQ_USER=starticket
RABBITMQ_PASSWORD=starticket_dev
STARTICKET_JWT_SECRET=replace-with-at-least-32-random-characters
STARTICKET_BACKEND_PORT=18080
STARTICKET_FRONTEND_PORT=8081
STARTICKET_BIND_HOST=0.0.0.0
STARTICKET_CORS_ORIGIN=http://localhost:8081
STARTICKET_DEMO_ENABLED=true
STARTICKET_DEMO_PUBLIC=false
STARTICKET_DEMO_PASSWORD=Password123
STARTICKET_INFRA_ENABLED=true
STARTICKET_REDIS_PRELOCK_ENABLED=false
STARTICKET_ORDER_RATE_LIMIT_MAX=10
STARTICKET_PAYMENT_SECRET=replace-with-at-least-32-random-characters
STARTICKET_TICKET_SECRET=replace-with-at-least-32-random-characters
